# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

#logs 
log202*.txt


# Carpetas de compilación y resultados
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# Archivos de log y temporales
*.log
*.tmp

# Archivos de configuración local
appsettings.Local.json
appsettings.Development.json
appsettings.json

# Archivos de NuGet
*.nupkg
# Carpeta de NuGet para versiones antiguas de Visual Studio
.nuget/

# Archivos generados por dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# Configuraciones de Rider/JetBrains
.idea/
*.sln.iml

# Configuraciones de VS Code
.vscode/

# Otros archivos del sistema
.DS_Store
Thumbs.db
