<div class="table-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="paginatedData">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef" [stickyEnd]="
                column.columnDef === 'status' ||
                column.columnDef === 'actions' ||
                column.columnDef === 'clientStatus' ||
                column.columnDef === 'error'
            ">
            <th mat-header-cell *matHeaderCellDef>
                {{ column.header }}
            </th>

            <td mat-cell *matCellDef="let row; let i = index">
                <!-- Column Type: Index -->
                <ng-container *ngIf="column.type === 'index'">
                    {{ i + 1 }}
                </ng-container>

                <!-- Column Type: Text -->
                <ng-container *ngIf="column.type === 'text'">
                    <p [ngClass]="[column.classColor ?? '']">{{ row[column.columnDef] }}</p>
                </ng-container>

                <!-- Column Type: Number -->
                <ng-container *ngIf="column.type === 'number'">
                    <p>{{ row[column.columnDef] | number : "1.0-0" }}</p>
                </ng-container>

                <!-- Column Type: Amount (2 decimals) -->
                <ng-container *ngIf="column.type === 'amount'">
                    <p>{{ row[column.columnDef] | number:"1.2-2" }}</p>
                </ng-container>

                <!-- Column Type: Date -->
                <ng-container *ngIf="column.type === 'date'">
                    {{ row[column.columnDef] | date: 'dd/MM/yyyy' }}
                </ng-container>

                <!-- Column Type: Datetime -->
                <ng-container *ngIf="column.type === 'datetime'">
                    {{ row[column.columnDef] | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-container>

                <!-- Column Type: Toggle -->
                <ng-container *ngIf="column.type === 'toggle'">
                    <mat-slide-toggle
                        [checked]="row[column.columnDef] === 'Activo'"
                        (change)="onToggleStatus(row)"
                        color="primary"
                        [matTooltip]="row[column.columnDef] === 'Activo' ? 'Desactivar usuario' : 'Activar usuario'">
                    </mat-slide-toggle>
                </ng-container>


                <!-- Column Type: Edit -->
                <ng-container *ngIf="column.type === 'edit'">
                    <mat-icon
                        class="icon-size-5 text-blue-900 cursor-pointer"
                        [matTooltip]="'Editar'"
                        (click)="onEdit(row)">
                        edit
                    </mat-icon>
                </ng-container>
            </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
            class="example-element-row border-b dark:border-neutral-500"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginator -->
    <ng-container *ngIf="isList">
        <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)"
            aria-label="Select page" [showFirstLastButtons]="true">
        </mat-paginator>
    </ng-container>

    <ng-container *ngIf="!isList">
        <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="changePage($event)" aria-label="Select page">
        </mat-paginator>
    </ng-container>
</div>
