.bg-blue{
    background-color: #162837;
    ;
}

.fuse-vertical-navigation-appearance-dense .fuse-nav-header .nav-header-text {
    display: none;
}

.fuse-vertical-navigation-appearance-dense:hover .fuse-nav-header .nav-header-text {
    display: block;
  }


